[submodule "tmux/dot-config/tmux/plugins/tpm"]
	path = tmux/dot-config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = all
[submodule "tmux/dot-config/tmux/plugins/tmux-sensible"]
	path = tmux/dot-config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
